/*
 * Light Blue: 00C2CB
 * Dark Blue: 1B2434
 * Grey: 545454
 * 
 * See bottom for the full colour list.
 * 
 * Margin and Padding: Top, Right, Bottom, Left
 * Two values= top/bottom ,left/right
 */

body {
    background-color: #1B2434;
}

.title-header {
    color: white;
    margin: 1% 25%;
    padding: 0.25em;
    font-family: 'aileron';
    font-weight: 300;
    align-self: center;
}


a:link, a:visited {
    color: blue;
}

a:hover {
    color: white;
}

ul {
    list-style-type: none;
}

nav {
    font-size: 1.05em;
    margin: 0% 15% 0% 5%;
    padding: 0.5px 0px 0.5px 0px;
    width: 85.5%;
}

.nav-menu a {
    color: white;
}

.nav-menu a:hover, .info-list a:hover {
    color: darkcyan;
}

.selected_nav_item {
    padding: 10px;
    box-shadow: 2.5px 2.5px 5px #616161;
    border: 1px solid black;
    text-decoration: underline;
}

nav ul li {
    display: inline;
    padding: 0px 25px;
}

.hide {
    display: none !important;
}

.accordion-button {
    font-size: 1.05em;
    margin: 0% 10%;
    width: 80%;
    padding: 5px;
    margin-bottom: 1%;
    color: white;
}

.accordion-button:hover {
    background-color: #6d6d6d;
}

.show-block, .show {
    display: block !important;
}

.fbw-grey-box2 {
    width: 65%;
}

.fbw-light-box, .fbw-box {
    margin: 0% 14% 2.5% 14%;
    width: 70%;
    padding: 5px 0px 5px 20px;
    background: #1D2939;
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.fbw-box2 {
    width: 80%;
    padding: 2.5%;
    margin: 0% 5%;
}

.nav_item {
    text-align: left;
}

.selected {
    padding: 5px;
    border-radius: 2px;
    border: 0.5px solid black;
    margin-bottom: 1%;
}

.info-list li {
    font-size: 1.05em;
    margin: 2.5% 25% 2.5% 20%;
    padding: 2.5px 0px 5px 25px;
}

.info-list li:hover {
    border: 3px solid #00C2CC;
}

.spacer {
    margin: 0% 20% 0% 5%;
}

.info {
    display: block;
    margin: 0% 15%;
    padding-top: 1rem;
}

.info-list a {
    color: white;
}

footer {
    padding-top: 2rem;
    margin: 0% 40%;
}

footer img {
    width: auto;
    align-content: center;
    height: 2.5rem;
    padding: 10px;
}

.screenshot {
    padding: 20px;
    height: inherit;
    width: inherit;
}

/* Shared properties */

ul li, p, .title-header, .accordion-button, .info, .info-list li {
    text-align: center;
}

nav, .accordion-button, ul{
    font-family: 'ubuntu';
}

nav, .accordion-button, .info-list li, fbw-box{
    box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-color: #0F1724;
}

a:link, a:visited, ul li {
    text-decoration: none;
}

.fbw-grey-box, .sidenav{
    border: 2px solid black; 
}


/* Fonts. These are stored locally so offline development can be done. Once production time is ready, we'll switch to CDNs and Fonts API.*/

@font-face {
    font-family: 'aileron';
    src: url("../fonts/Aileron-Light.woff") format("woff"),
        url("../fonts/Aileron-Light.woff2") format("woff2");
}

@font-face {
    font-family: 'ubuntu';
    src: url("../fonts/Ubuntu-Regular.woff") format("woff"),
        url("../fonts/Ubuntu-Regular.woff2") format("woff2");
}


/* Box shadows! */

.shadow-box {
    box-shadow: 5px 5px 10px #555555;
}

.shadow-box2 {
    box-shadow: 2.5px 2.5px 5px #3d3d3d;
}


/* Colours! */

.fbw-light {
    background-color: #00C2CB;
}

.fbw-light2 {
    background-color: #00DAE5;
}

.fbw-dark {
    background-color: #1B2434;
}

.fbw-dark2 {
    background-color: #009198;
}

.fbw-dark3 {
    background-color: #7e99bc;
}

.fbw-dark4{
    background-color: #6485af;
}

.fbw-grey {
    background-color: #545454;
}

.fbw-grey2 {
    background-color: #606060;
}

.fbw-grey3 {
    background-color: #6d6d6d;
}

.fbw-grey4 {
    background-color: #cbcbcb;
}
