@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #000;
	margin: 0;
	padding: 0;
	color: #fff;
}


/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1 {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #00ff00;
	display: block;
	padding: 0px;
	letter-spacing: 1px;
	font-size: 24px;
	font-weight: normal;
	color: #00FF00;
	font-variant: small-caps;
}

.title h1 {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #00ff00;
	display: block;
	padding: 0px 30px 15px 0px;
	letter-spacing: 1px;
	text-transform: none;
	font-size: 24px;
	font-weight: normal;
	color: #00FF00;
	font-variant: small-caps;
	text-align: center;
}

h2 {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #00ff00;
	display: block;
	padding: 10px 0px;
	letter-spacing: 1px;
	text-transform: none;
	font-size: 22px;
	font-weight: normal;
	font-variant: small-caps;
}

h3 {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #00ff00;
	display: block;
	letter-spacing: 1px;
	text-transform: none;
	font-size: 20px;
	font-weight: normal;
	color: #00FF00;
	font-variant: small-caps;
	padding: 10px 0px;
}

p {
	margin-top: 0px;
	line-height: 24px;
	font-size: 16px;
	text-align:justify;
}

ol, ul {
	margin-top: 0px;
	line-height: 24px;
	font-size: 16px;
	text-align:left;
}

span.green {
	color: #00FF00;
}

span.magenta {
	color: #FF00FF;
}

span.blue {
	color: #00FFFF;
}

span.red {
	color: #FF0000;
}
span.yellow {
	color: #FFFF00;
}

span.amber {
	color: #d58001;
}

.borderwhite {
	padding: 15px;
	border: 4px solid #FFFFFF;
}

.borderred {
	padding: 15px;
	border: 4px solid #FF0000;
}
.borderyellow {
	padding: 15px;
	border: 4px solid #FFCC00;
}
.borderone {
	border: 1px solid #FFFFFF;
	text-align: center;
}
.textcenter {
	text-align: center;
	color: #FFFFFF;
	font-size:16px;
	padding-bottom:10px;
}
strong {
}

.symbol {
	font-family: symbol;
}


/* Tooltip */

#tooltip_container {
	color: #000;
	font-size:12px;
	position: absolute;
	display: none;
	padding: 15px;
	max-width: 360px; /* need i.e. rule */
	background-color: rgba(0,255,0,.85);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.tooltip-source-html { display: none; }

img.alignleft {
	float: left;
	padding: 5px 15px 5px 0px;
}

img.alignleft2 {
	float: left;
	padding: 5px 15px 25px 25px;
}

img.alignright {
	float: right;
	padding: 5px 0px 5px 15px;
}

img.top {
	padding: 10px 0px 0px 0px;
}
img.both {
	padding: 10px 0px 10px 0px;
}

img.aligncenter {
	margin: 0px auto;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	vertical-align: top;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #00ffff;
	text-decoration: none; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #00ffff;
	text-decoration: none;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
	color: #00ff00;
}
/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	width: 1170px;
	background-color: #000;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
header {
	background-color: #000;
}
/* ~~ These are the columns for the layout. ~~ 

1) Padding is only placed on the top and/or bottom of the block elements. The elements within these blocks have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the block itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the block element and place a second block element within it with no width and the padding necessary for your design.

2) No margin has been given to the columns since they are all floated. If you must add margin, avoid placing it on the side you're floating toward (for example: a right margin on a block set to float right). Many times, padding can be used instead. For blocks where this rule must be broken, you should add a "display:inline" declaration to the block element's rule to tame a bug where some versions of Internet Explorer double the margin.

3) Since classes can be used multiple times in a document (and an element can also have multiple classes applied), the columns have been assigned class names instead of IDs. For example, two sidebar blocks could be stacked if necessary. These can very easily be changed to IDs if that's your preference, as long as you'll only be using them once per document.

4) If you prefer your nav on the left instead of the right, simply float these columns the opposite direction (all left instead of all right) and they'll render in reverse order. There's no need to move the blocks around in the HTML source.

*/
.sidebar1 {
	float: right;
	width: 230px;
	padding-bottom: 10px;
	padding-right: 35px;
}

.sidebar1 h2 {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	color: #00ff00;
	display: block;
	padding: 4px 0px 10px 0px;
	letter-spacing: 1px;
	text-transform: none;
	font-size: 22px;
	font-weight: normal;
	font-variant: small-caps;
}

#page-header {
	height: 86px;
	position:relative;
}

#page-header h1 {
	padding-left:30px;
	padding-top:4px;
}

#page-header p {
	position: absolute;
	left: 892px;
	top: 46px;
	text-align: left;
	letter-spacing: 1px;
	font-variant: small-caps;
}

#page-header nav {
	position: absolute;
	left: 4px;
	top: 46px;
	text-align: right;
		}

	#page-header nav li {
		display: inline;
		padding: 0.5em 1.25em 0.6em 1.25em;
		margin-left: 1.5em;
	}

			#page-header nav li > ul
			{
				display: none;
			}
		
			#page-header nav a, #page-header nav span {
				color: rgba(255,255,255,1);
				text-decoration: none;
				font-size: 16px;
	}

				#page-header nav a:hover, #page-header nav span:hover
				{
					color: rgba(0,255,0,1.0);
				}
			
			#page-header nav .current_page_item
			{
				background: rgba(38,43,48,0.85);
				box-shadow: inset 0px 1px 0px rgba(0,0,0,0.15), 0px 1px 0px rgba(255,255,255,0.15);
				border-radius: 5px;
			}

				#page-header nav .current_page_item a, #page-header nav .current_page_item span
				{
					color: rgba(0,255,255,1.0);
				}

			#page-header nav .active
			{
				background: rgba(38,43,48,0.85);
				box-shadow: inset 0px 1px 0px rgba(0,0,0,0.15);
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

				#page-header nav .active, #page-header nav .active span
				{
					color: rgba(255,255,255,1.0);
				}
			
			.dropotron
			{
				background: rgba(38,43,48,0.85);
				border-radius: 5px;
				padding: 1.25em 2em 1.25em 1.25em;
				color: rgba(255,255,255,0.6);
				text-shadow: 0px -1px 0px rgba(0,0,0,0.5);
			}
			
				.dropotron-level-0
				{
					border-top-left-radius: 0 !important;
				}

				.dropotron li
				{
					line-height: 2.5em;
				}

					.dropotron li > a, .dropotron li > span
					{
						color: rgba(255,255,255,0.6);
						text-decoration: none;
					}
					
					.dropotron li:hover > a, .dropotron li:hover > span
					{
						color: rgba(255,255,255,1.0);
					}


#page {
	background: url(../img/main/homepage03A.gif) repeat-y left top;
}

#page2 {
	background: url(../imm/main/homepage03B.gif) repeat-y left top;
}

#page-bgtop {
	background: url(../img/main/subpage1_01A.jpg) no-repeat left top;
}

#page-bgtop2 {
	background: url(../img/main/subpage2_01A.jpg) no-repeat left top;
}

#page-bgbtm {
	overflow: hidden;
	width: 1110px;
	background: url(../img/main/homepage04A.gif) no-repeat left bottom;
	min-height: 723px;
	padding: 40px 30px 28px 46px;
}

.wide content {
	width: 1000px;
	float: left;
}

.content-menu1 {
	width: 360px;
	float: left;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 80px;
}

.content-menu2 {
	width: 360px;
	float: right;
	padding-bottom: 15px;
	padding-right: 116px;
}

.content {
	width: 750px;
	float: left;
	padding: 0;
}

.contentLcol {
	width: 360px;
	float: left;
	padding-right: 0;
	padding-left: 0;
}

.contentRcol {
	width: 360px;
	float: right;
	padding-right: 0;
	padding-left: 0;
}

.contentRcol img {
	border: none;
	vertical-align: top;
}

.contentRcol a img {
	border: none;
	vertical-align: top;
}

.contentRcol2 {
	width: 370px;
	float: right;
	padding-right: 0;
	padding-left: 0;
}

.contentLcol3 {
	width: 360px;
	float: left;
	padding: 12px 0 20px;
}

.contentRcol3 {
	width: 360px;
	float: right;
	padding: 12px 0 20px;
}


.contentMar {
	padding-top: 6px;
	padding-bottom: 6px;
}

.contentMar2 {
	padding-top:10px;
	padding-bottom:10px;
}

.contentMar3 {
	padding-top:6px;
	padding-bottom:18px;
}

.content2 {
	float: left;
}
.content2 img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	vertical-align: top;
}

.content2 a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	vertical-align: top;
}

.content3 {
	float:right;
	padding-top:6px;
}
.content3 img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	vertical-align: top;
}

.content3 a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	vertical-align:top;
}

.content4 {
	width: 748px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content4 img {
	border: none;
	vertical-align: top;
}

.content4 a img {
	border: none;
	vertical-align:top;
}

.content5 {
	float:right;
	padding-top:6px;
	padding-bottom: 10px;
}

.content5 img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	vertical-align: top;
}

.content5 a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	vertical-align:top;
}

.columnA {
	float: left;
}
.columnA img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	vertical-align: top;
	float:left;
}

.columnA a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
	vertical-align:top;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}

/* ~~ The footer ~~ */
footer {
	padding: 0 0 4;
	height: 86px;
	background: #000;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}

footer p {
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: rgba(255,255,255,0.6);
}

/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, aside, article, figure {
	display: block;
}

body#one ul#ul_one, body#two ul#ul_two, body#three ul#ul_three,  body#four ul#ul_four, body#five ul#ul_five, body#six ul#ul_six, body#seven ul#ul_seven, body#eight ul#ul_eight, body#nine ul#ul_nine, body#ten ul#ul_ten {display:block;}

ul#navmenu,
ul#navmenu li,
ul#navmenu ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 230px; /*For KHTML*/
	list-style: none;
}

ul#navmenu:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}

ul#navmenu li {
	float: right; /*For IE 7 lack of compliance*/
	display: block !important; /*For GOOD browsers*/
	display: inline; /*For IE*/
	position: relative;
}


/* Root Menu */
ul#navmenu a {
	border: 1px solid #959595;
	border-right-color: #666666;
	border-bottom-color: #333333;
	padding: 0 10px;
	display: block;
	background: #464646;
	color: #FFFFFF;
	font: 12px/30px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
}
	
ul#navmenu a:hover,
ul#navmenu li:hover a,
ul#navmenu li.iehover a {
	background: #111111;
	color: #00ff00;
}

ul#navmenu li a.selected {
	/*script dynamically adds a class of "selected" to the current active menu item*/
	background: #000;
	color: #00ffff;
}

ul#navmenu li a.active {
	/*script dynamically adds a class of "selected" to the current active menu item*/
	background: #464646;
	color: #00ff00;
}

.sub {
	display:none
	}

.sub li a {
	border-left: 1px solid #b7b7b6 !important;
	border-top: 1px solid #b7b7b6 !important;
	border-bottom: 1px solid #333333 !important;
	border-right: 1px solid #333333 !important;
	padding: 0 10px !important;
	display: block;
	background: #707070 !important;
	color: #fff !important;
	font: 12px/30px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
}
.sub li a:hover {
	border-left: 1px solid #b7b7b6 !important;
	border-top: 1px solid #b7b7b6 !important;
	border-bottom: 1px solid #333333 !important;
	border-right: 1px solid #333333 !important;
	padding: 0 10px !important;
	display: block;
	background: #111111 !important;
	color: #00ff00 !important;
	font: 12px/30px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
}
.sub li a.selected {
	border-left: 1px solid #d2d0be !important;
	border-top: 1px solid #d2d0be !important;
	border-bottom: 1px solid #d2d0be !important;
	border-right: 1px solid #F2F0DB !important;
	padding: 0 10px !important;
	display: block;
	background: #000 !important;
	color: #00ffff !important;
	font: 12px/30px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
}

/*main menu*/

ul#navmenu2,
ul#navmenu2 li,
ul#navmenu2 ul {
	margin: 0;
	border: 0 none;
	padding-bottom: 30px;
	width: 360px; /*For KHTML*/
	list-style: none;
}
ul#navmenu2:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}

ul#navmenu2 li {
	float: left; /*For IE 7 lack of compliance*/
	display: block; /*For GOOD browsers*/
	display: inline; /*For IE*/
	position: relative;
	padding-top: 9px;
	padding-bottom: 9px;
}
/* Root Menu */
ul#navmenu2 a {
	border: 1px solid #abaaaa;
	border-right-color: #9b9898;
	border-bottom-color: #9b9898;
	padding: 0 10px;
	display: block;
	background: #464646;
	color: #fff;
	font: 16px/50px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto;
	height: 1%; /*For IE*/
}

ul#navmenu2 a:hover,
ul#navmenu2 li:hover a,
ul#navmenu2 li.iehover a {
	background: #252525;
	color: #00FF00;
}

ul#navmenu3,
ul#navmenu3 li,
ul#navmenu3 ul {
	margin: 0;
	border: 0 none;
	padding-bottom: 14px;
	width: 668px; /*For KHTML*/
	list-style: none;
}
ul#navmenu3:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}

ul#navmenu3 li {
	float: left; /*For IE 7 lack of compliance*/
	display: block; /*For GOOD browsers*/
	display: inline; /*For IE*/
	position: relative;
	padding-top: 4px;
	padding-bottom: 4px;
}
/* Root Menu */
ul#navmenu3 a {
	border: 1px solid #abaaaa;
	border-right-color: #9b9898;
	border-bottom-color: #9b9898;
	padding: 0 10px;
	display: block;
	background: #464646;
	color: #fff;
	font: 14px/36px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto;
	height: 1%; /*For IE*/
}

ul#navmenu3 a:hover,
ul#navmenu3 li:hover a,
ul#navmenu3 li.iehover a {
	background: #252525;
	color: #00FF00;
}

ul#navmenu4,
ul#navmenu4 li,
ul#navmenu4 ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 360px; /*For KHTML*/
	list-style: none;
}

ul#navmenu4:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}

ul#navmenu4 li {
	float: right; /*For IE 7 lack of compliance*/
	display: block !important; /*For GOOD browsers*/
	display: inline; /*For IE*/
	position: relative;
}


/* Root Menu */
ul#navmenu4 a {
	border: 1px solid #959595;
	border-right-color: #666666;
	border-bottom-color: #333333;
	padding: 0 10px;
	display: block;
	background: #464646;
	color: #FFFFFF;
	font: 12px/30px Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
}
	
ul#navmenu4 a:hover,
ul#navmenu4 li:hover a,
ul#navmenu4 li.iehover a {
	background: #111111;
	color: #00ff00;
}

ul#navmenu5,
ul#navmenu5 li,
ul#navmenu5 ul {
	margin: 0;
	border: 0 none;
	padding: 0;
	width: 360px; /*For KHTML*/
	list-style: none;
	padding-top: 2px;
	padding-bottom: 2px;
}

ul#navmenu5:after /*From IE 7 lack of compliance*/{
	clear: both;
	display: block;
	font: 1px/0px serif;
	content: ".";
	height: 0;
	visibility: hidden;
}

ul#navmenu5 li {
	float: right; /*For IE 7 lack of compliance*/
	display: block !important; /*For GOOD browsers*/
	display: inline; /*For IE*/
	position: relative;
}


/* Root Menu */
ul#navmenu5 a {
	border: 1px solid #959595;
	border-right-color: #666666;
	border-bottom-color: #333333;
	padding: 0 8px;
	display: block;
	background: #464646;
	color: #FFFFFF;
	font: 16px/38px Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	text-decoration: none;
	height: auto !important;
	height: 1%; /*For IE*/
}
	
ul#navmenu5 a:hover,
ul#navmenu5 li:hover a,
ul#navmenu5 li.iehover a {
	background: #111111;
	color: #00ff00;
}

table {
	font-size: 14px;
}

#menu4 {
	float: left;
	width: 350px;
	height: 45px;
	padding: 1px 0px 0px 1px;
}

#menu4 ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu4 li {
	float: left;
	margin-right: 1px;
}

#menu4 span {
	margin: 0px;
	font-weight: normal;
}

#menu4 a {
	display: block;
	float: left;
	height: 26px;
	width:56px;
	padding: 8px 2px 0px 2px;
	letter-spacing: 1px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align:center;
	color: #FFFFFF;
	border: 1px solid #000;
}

#menu4 a:hover {
	text-decoration: none;
	color: #00FF00;
	background: #252525;
	border: 1px solid #abaaaa;
}

#menu4 li.active {
	background: #000;
	border: 1px solid #abaaaa;
	color:#00ffff;
}

#menu4 li.active a {
	background: #000;
	border: 1px solid #abaaaa;
	color:#00ffff;
}

#menu4 li.active span {
	background: #6b6b6b;
	color: #FFFFFF;
}
